<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/modules")
    @Scripts.Render("~/bundles/application")
</head>
<body>
    <div ng-app="TestAngApp" ng-controller="Controller">
        <select selector
                model="element"
	            options="elements"
                label-attr="name">
        </select>

        <input ng-model="elementInfo.text1">
        <input ng-model="elementInfo.text2">
        <input ng-model="elementInfo.intField1">
    </div>
</body>
</html>